<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>recentchatlistview</key>
	<string>YYIMRecentchatListView</string>
	<key>yyimrosterlistview</key>
	<string>YYIMRosterListView</string>
	<key>yyimrosterinviteview</key>
	<string>YYIMRosterInviteView</string>
	<key>yyimrecentchatlistview</key>
	<string>YYIMRecentchatListView</string>
	<key>yyimpubaccountlistview</key>
	<string>YYIMPubAccountListView</string>
	<key>yyimgroupmembereditgridview</key>
	<string>YYIMGroupMemberEditGridView</string>
	<key>yyimchatgroupmemberchoiceview</key>
	<string>YYIMChatGroupMemberChoiceView</string>
	<key>yyimchatgrouplistview</key>
	<string>YYIMChatGroupListView</string>
	<key>yyimchatcompositiveview</key>
	<string>YYIMChatCompositiveView</string>
	<key>yyimaddrosterview</key>
	<string>YYIMAddRosterView</string>
	<key>yyimaddpubaccountview</key>
	<string>YYIMAddPubAccountView</string>
	<key>yyimaddchatgroupview</key>
	<string>YYIMAddChatGroupView</string>
	<key>div</key>
	<string>UMLayoutView</string>
	<key>scrollview</key>
	<string>UMXScrollView</string>
	<key>navigatiorbar</key>
	<string>UMLayoutView</string>
	<key>vdiv</key>
	<string>UMLayoutView</string>
	<key>hdiv</key>
	<string>UMLayoutView</string>
	<key>window</key>
	<string>UMLayoutView</string>
	<key>relativediv</key>
	<string>UMLayoutView</string>
	<key>slidingdiv</key>
	<string>UMLayoutView</string>
	<key>toolbar</key>
	<string>UMLayoutView</string>
	<key>button</key>
	<string>UMXButton</string>
	<key>checkbox</key>
	<string>UMXXCheckBox</string>
	<key>imageflipper</key>
	<string>UMXImageFlipper</string>
	<key>image</key>
	<string>UMXXImageView</string>
	<key>imageflipperitem</key>
	<string>UMXImageFlipperItem</string>
	<key>slidingview</key>
	<string>UMXSliding</string>
	<key>flipper</key>
	<string>UMXViewFlipper</string>
	<key>audio</key>
	<string>UMXAudio</string>
	<key>camera</key>
	<string>UMXCamera</string>
	<key>datepicker</key>
	<string>UMXDatePicker</string>
	<key>date</key>
	<string>UMXDateField</string>
	<key>datetime</key>
	<string>UMXDateField</string>
	<key>imagebutton</key>
	<string>UMXImageButton</string>
	<key>gallery</key>
	<string>UMXGallery</string>
	<key>imageselector</key>
	<string>UMXXImageSelector</string>
	<key>text</key>
	<string>UMXTextField</string>
	<key>password</key>
	<string>UMXTextField</string>
	<key>time</key>
	<string>UMXDateField</string>
	<key>email</key>
	<string>UMXEmailField</string>
	<key>mapview</key>
	<string>UMXMap</string>
	<key>label</key>
	<string>UMXLabel</string>
	<key>number</key>
	<string>UMXNumberfield</string>
	<key>picker</key>
	<string>UMXCustomPicker</string>
	<key>drawdiv</key>
	<string>UMXDrawView</string>
	<key>pickeritem</key>
	<string>UMXCustomPickerItem</string>
	<key>progressbar</key>
	<string>UMXProgressBar</string>
	<key>urlimage</key>
	<string>UMXXImageView</string>
	<key>range</key>
	<string>UMXSlider</string>
	<key>recorder</key>
	<string>UMXRecorder</string>
	<key>twodcode</key>
	<string>UMXQRCode</string>
	<key>search</key>
	<string>UMXSearchList</string>
	<key>switch</key>
	<string>UMXSwitch</string>
	<key>tabbar</key>
	<string>UMXTabBar</string>
	<key>tabbaritem</key>
	<string>UMXTabBarItem</string>
	<key>textarea</key>
	<string>UMXTextArea</string>
	<key>timepicker</key>
	<string>UMXTimePicker</string>
	<key>togglebuttongroup</key>
	<string>UMXToggleButtonGroup</string>
	<key>togglebutton</key>
	<string>UMXToggleButton</string>
	<key>video</key>
	<string>UMXVideo</string>
	<key>web</key>
	<string>UMXWebView</string>
	<key>webview</key>
	<string>UMXWebView</string>
	<key>umchartview</key>
	<string>UMChart</string>
	<key>listview</key>
	<string>UMXDyTableView</string>
	<key>list</key>
	<string>UMXDyTableView</string>
	<key>radio</key>
	<string>UMXAudio</string>
	<key>table</key>
	<string>UMXGridView</string>
</dict>
</plist>
